/* -------------------------------------------

Name: 		Lettery
Version:    1.0
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). email: miller.themes@gmail.com

------------------------------------------- */
/*--------------------------------------------

1. common
    - main
    - typography
    - images
    - social
    - color backgrounds
    - button
    - link
    - badge
    - spaces
2. frame
    - main
    - preloader
    - cursor
    - custom scrollbar
    - page transitions
3. components
    - dots
    - cover
    - image frame
    - cards
    - overlay
    - portfolio items
    - partners
    - icon box
    - fields
    - reviews
    - pagination
    - accordion
    - prices
    - 404
4. sections
    - navigation
    - partners
    - counters
    - about
    - footers
    - instagram
    - services
    - video
    - reviews
    - subscribe
    - map
    - portfolio
5. custom
    - fancybox
    - swiper
6. template-styles
    - logo
    - hero
    - scroll hint 1
    - small banner
    - content frame
    - team
    - reviews
    - hero 2
    - hero 3
    - scroll hint 2
    - service card
    - project info

--------------------------------------------*/


// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// $font-1: 'Outfit', sans-serif;
// $font-2: 'Outfit', sans-serif;

// $link-font: var(--font-2);
// $light: rgba(255, 255, 255, 1);




// $accent-1: rgb(38, 204, 255);
// $accent-2: rgba(132, 209, 238, 1);

// $dark: rgba(38, 38, 56, 1);

// $dt-95: rgba(38, 38, 56, .95);
// $dt-90: rgba(38, 38, 56, .9);
// $dt-80: rgba(38, 38, 56, .8);
// $dt-70: rgba(38, 38, 56, .7);
// $dt-60: rgba(38, 38, 56, .6);
// $dt-50: rgba(38, 38, 56, .5);
// $dt-40: rgba(38, 38, 56, .4);
// $dt-30: rgba(38, 38, 56, .3);
// $dt-20: rgba(38, 38, 56, .2);
// $dt-10: rgba(38, 38, 56, .1);
// $dt-5: rgba(38, 38, 56, .05);


// $accent-1: rgb(255, 168, 38);
// $accent-2: rgba(132, 209, 238, 1);

// $dark: rgb(56, 38, 38);

// $dt-95: rgba(56, 38, 38, .95);
// $dt-90: rgba(56, 38, 38, .9);
// $dt-80: rgba(56, 38, 38, .8);
// $dt-70: rgba(56, 38, 38, .7);
// $dt-60: rgba(56, 38, 38, .6);
// $dt-50: rgba(56, 38, 38, .5);
// $dt-40: rgba(56, 38, 38, .4);
// $dt-30: rgba(56, 38, 38, .3);
// $dt-20: rgba(56, 38, 38, .2);
// $dt-10: rgba(56, 38, 38, .1);
// $dt-5: rgba(56, 38, 38, .05);



// $accent-1: rgb(255, 233, 38);
// $accent-2: rgba(132, 209, 238, 1);

// $dark: rgb(38, 56, 43);

// $dt-95: rgba(38, 56, 43, .95);
// $dt-90: rgba(38, 56, 43, .9);
// $dt-80: rgba(38, 56, 43, .8);
// $dt-70: rgba(38, 56, 43, .7);
// $dt-60: rgba(38, 56, 43, .6);
// $dt-50: rgba(38, 56, 43, .5);
// $dt-40: rgba(38, 56, 43, .4);
// $dt-30: rgba(38, 56, 43, .3);
// $dt-20: rgba(38, 56, 43, .2);
// $dt-10: rgba(38, 56, 43, .1);
// $dt-5: rgba(38, 56, 43, .05);


// $accent-1: rgb(255, 38, 38);
// $accent-2: rgba(132, 209, 238, 1);

// $dark: rgb(38, 42, 56);

// $dt-95: rgba(38, 42, 56, .95);
// $dt-90: rgba(38, 42, 56, .9);
// $dt-80: rgba(38, 42, 56, .8);
// $dt-70: rgba(38, 42, 56, .7);
// $dt-60: rgba(38, 42, 56, .6);
// $dt-50: rgba(38, 42, 56, .5);
// $dt-40: rgba(38, 42, 56, .4);
// $dt-30: rgba(38, 42, 56, .3);
// $dt-20: rgba(38, 42, 56, .2);
// $dt-10: rgba(38, 42, 56, .1);
// $dt-5: rgba(38, 42, 56, .05);

// $lt-95: rgba(255, 255, 255, .95);
// $lt-90: rgba(255, 255, 255, .9);
// $lt-80: rgba(255, 255, 255, .8);
// $lt-70: rgba(255, 255, 255, .7);
// $lt-60: rgba(255, 255, 255, .6);
// $lt-50: rgba(255, 255, 255, .5);
// $lt-40: rgba(255, 255, 255, .4);
// $lt-30: rgba(255, 255, 255, .3);
// $lt-20: rgba(255, 255, 255, .2);
// $lt-10: rgba(255, 255, 255, .1);
// $lt-5: rgba(255, 255, 255, .05);

// $gs-95: rgba(49, 60, 66, 1);
// $gs-90: rgba(60, 71, 76, 1);
// $gs-80: rgba(81, 91, 96, 1);
// $gs-70: rgba(103, 112, 116, 1);
// $gs-60: rgba(125, 132, 136, 1);
// $gs-50: rgba(146, 152, 155, 1);
// $gs-40: rgba(168, 173, 175, 1);
// $gs-30: rgba(190, 193, 195, 1);
// $gs-20: rgba(212, 214, 215, 1);
// $gs-10: rgba(233, 234, 235, 1);
// $gs-5: rgba(244, 245, 245, 1);

// $h1: 92px;
// $h2: 72px;
// $h3: 48px;
// $h4: 36px;
// $h5: 24px;
// $h6: 18px;

// $text-xs: 11px;
// $text-sm: 14px;
// $text-md: 17px;
// $text-lg: 19px;
// $text-xl: 22px;

// $link: 11px;

// $titles-font-weight: 500;
// $text-font-weight: 300;

// $t-sm: .2s cubic-bezier(0, 0, 0.3642, 1);
// $t-md: .4s cubic-bezier(0, 0, 0.3642, 1);
// $t-lg: .6s cubic-bezier(0, 0, 0.3642, 1);

// $site-background: var(--dark);

// $top-panel-height: 100px;

// $menu-collapse-value: 1200px;

// :export {
//     accentColor: var(--accent-1);
//     darkColor: var(--dark);
//     lightColor: $light;
// }



// .theme-1 * * * * * {

//     $accent-1: rgba(255, 167, 38, 1);
//     $accent-2: rgba(132, 209, 238, 1);
    
//     $dark: rgba(38, 50, 56, 1);
    
//     $dt-95: rgba(38, 50, 56, .95);
//     $dt-90: rgba(38, 50, 56, .9);
//     $dt-80: rgba(38, 50, 56, .8);
//     $dt-70: rgba(38, 50, 56, .7);
//     $dt-60: rgba(38, 50, 56, .6);
//     $dt-50: rgba(38, 50, 56, .5);
//     $dt-40: rgba(38, 50, 56, .4);
//     $dt-30: rgba(38, 50, 56, .3);
//     $dt-20: rgba(38, 50, 56, .2);
//     $dt-10: rgba(38, 50, 56, .1);
//     $dt-5: rgba(38, 50, 56, .05);
// }

// .theme-2 * * * * * {


// $accent-1: rgb(38, 204, 255);
// $accent-2: rgba(132, 209, 238, 1);

// $dark: rgba(38, 38, 56, 1);

// $dt-95: rgba(38, 38, 56, .95);
// $dt-90: rgba(38, 38, 56, .9);
// $dt-80: rgba(38, 38, 56, .8);
// $dt-70: rgba(38, 38, 56, .7);
// $dt-60: rgba(38, 38, 56, .6);
// $dt-50: rgba(38, 38, 56, .5);
// $dt-40: rgba(38, 38, 56, .4);
// $dt-30: rgba(38, 38, 56, .3);
// $dt-20: rgba(38, 38, 56, .2);
// $dt-10: rgba(38, 38, 56, .1);
// $dt-5: rgba(38, 38, 56, .05);

// }



@import 'variables.module';

@import 'common';
@import 'frame';
@import 'components';
@import 'sections';
@import 'custom';
@import 'template-styles';

// .theme-1 {

//     $accent-1: rgba(255, 167, 38, 1);
//     $accent-2: rgba(132, 209, 238, 1);
    
//     $dark: rgba(38, 50, 56, 1);
    
//     $dt-95: rgba(38, 50, 56, .95);
//     $dt-90: rgba(38, 50, 56, .9);
//     $dt-80: rgba(38, 50, 56, .8);
//     $dt-70: rgba(38, 50, 56, .7);
//     $dt-60: rgba(38, 50, 56, .6);
//     $dt-50: rgba(38, 50, 56, .5);
//     $dt-40: rgba(38, 50, 56, .4);
//     $dt-30: rgba(38, 50, 56, .3);
//     $dt-20: rgba(38, 50, 56, .2);
//     $dt-10: rgba(38, 50, 56, .1);
//     $dt-5: rgba(38, 50, 56, .05);
// }

// .theme-2 {
    
    
//         $accent-1: rgb(38, 204, 255);
//     $accent-2: rgba(132, 209, 238, 1);
    
//     $dark: rgba(38, 38, 56, 1);
    
//     $dt-95: rgba(38, 38, 56, .95);
//     $dt-90: rgba(38, 38, 56, .9);
//     $dt-80: rgba(38, 38, 56, .8);
//     $dt-70: rgba(38, 38, 56, .7);
//     $dt-60: rgba(38, 38, 56, .6);
//     $dt-50: rgba(38, 38, 56, .5);
//     $dt-40: rgba(38, 38, 56, .4);
//     $dt-30: rgba(38, 38, 56, .3);
//     $dt-20: rgba(38, 38, 56, .2);
//     $dt-10: rgba(38, 38, 56, .1);
//     $dt-5: rgba(38, 38, 56, .05);
// }